// -----------------------------------------
// Layout Breakpoints
// -----------------------------------------
$gridGutter: 10;
$breakpoints: (
        'medium': (min-width: 800px),
        'large': (min-width: 1000px),
        'huge': (min-width: 1200px),
);


// -----------------------------------------
// Font Sizes
// -----------------------------------------
$baseTextSize: 18px;


// -----------------------------------------
// Font Families
// -----------------------------------------
$baseFont: Arial, Helvetica, sans-serif;

// -----------------------------------------
// Color
// -----------------------------------------
$baseTextColor: #262626;
$baseColor: #6d96d3;
$secondaryColor: #557db9;
$textColor: #4a4a4a;
$secHeadingColor: #557db9;
