doctype html
html(lang="fr")
  include modules/_head
  body
    .main__wrapper.home__layout.p1-main__wrapper
      .container.height100
        .logo__wrapp.v-align-outer 
          .v-align-inner
            img(src="./assets/img/logo-black.png" alt="logo").logo__img
        .content__wrapp.relative
          .h1.home__slogan votre barman sur-mesure
          .fork_wrapp.clearfix.b-align-outer
            .b-align-inner
              .col-md-6.col-xs-12
                a(href="#").home__fork-link.text-center.fork-left
                  p Espace Particuliers
                  p et Entreprises
              .col-md-6.col-xs-12
                a(href="#").home__fork-link.text-center.fork-right
                  p Espace Professionels du CHR 
                  p (Café, Hotellerie, Restaurant)
      .modal-wrap.modal-wrap--1
        .container.height100
          .logo__wrapp-modal 
            img(src="./assets/img/logo-white.png" alt="logo").logo__img
          .top-scroller
          .bot-scroller
            .content_wrapp-btn--i_want
              a(href="#").i-want.btn-white je veux découvrir
          .content__wrapp-main.content__wrapp-main---p3_4.content1-3
            h2.modal-h2--welcome Bienvenu(e) chez Monsieur Vivien !
            .content_wrapp-descr.height100
              p Monsieur Vivien a le plaisir de vous présenter le premier site de devis et réservation en ligne spécialisé dans le service de barman "Sur-mesure". Qu’il soit à votre domicile, sur vos lieux de travail ou pour renforcer vos équipes CHR, nous avons toujours une réponse à votre besoin. 
              p Dans l’espace "Particulier", organisez vos événements privés ou professionnels, anniversaires, comités d’entreprises, soirées ... 
              p.mt19 Laissez-vous guider à travers notre site intuitif, Monsieur Vivien devient alors votre barman dédié pour toutes vos rencontres, et vous assure un moment d’excellence directement chez vous. Tous les détails de votre événement vous appartenant, une myriade d’options est mise à votre disposition. 
              p.mt22 Le temps d’un soir, devenez "The place to be" !
              p Avec l’espace "Professionnel", trouvez enfin un barman qualifié en quelques minutes; et surtout en quelques clics ! Plus de recherches et de paperasse interminable, laissez Monsieur Vivien recruter pour vous parmi sa brigade.


